@import "./Variables.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 2rem 10rem;

  .header-left {
    display: flex;
    align-items: center;

    .logo {
      width: 4rem;
      margin-right: 0.5rem;
    }

    .brainshield {
      color: $fiord;
      font-size: 2rem;
      font-weight: bold;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $lynch;
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;

    .button {
      margin-right: 0.5rem;
  
      &:hover,
      &:focus {
        color: $fiord;
        border-color: $fiord;
      }
    }

    .account-container {
      border-color: $fiord;
    }

    .account {
      margin-right: 4rem;
    }
  
    .metamask {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
  
      img {
        width: 2rem;
      }
    }
  }
}
